/* This file is for your main application css. */

@import "./base.css";
@import "./colors.css";
@import "./forms.css";

body {
  color: var(--text-color);
}

.button-black {
  background-color: rgba(0, 0 , 0, 0.8);
  border-color: black;
}

.button-black:hover {
  background-color: black;
  border-color: black;
}
